td, th {
	border: 1px solid;
  }

body {
  background-image: url(.../images/background.png);
}

img {
  width: auto;
  height: auto;
  min-width: 100px;
  max-width: 125px;
  min-height: 100px;
  max-height: 125px;
}
#planets {
  background-color: rgba(243, 237, 254, 0.3);
}
