td, th {
  border-style: groove;
  border-width: 2.5px;
  border-color: lightpink;
  text-align: center;
  vertical-align: middle;
  }

body {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: white;
  text-align: center;

}

h1 {
  text-align: center;
}

img {
  height: 150px;
}

#planets {
  background-color: rgba(50, 50, 100, 0.7);
  margin: 0 auto;
}

#blank{
  background-color: rgba(50, 40, 70, .6);
}

#venus{
  font-weight: bold;
  background-color: rgba(50, 40, 70, .6);
}

#mars{
  font-weight: bold;
  background-color: rgba(50, 40, 70, .6);
}

#jupiter{
  font-weight: bold;
  background-color: rgba(50, 40, 70, .6);
}

#saturn{
  font-weight: bold;
  background-color: rgba(50, 40, 70, .6);
}

.fact{
  font-weight: bold;
  background-color: rgba(50, 40, 70, .6);
}



