td, th {
  border-style: dotted;
  border-width: 2.5px;
  border-color: purple;
  text-align: center;
  vertical-align: middle;
  }

body {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: white;
}

img {
  height: 150px;
}

#planets {
  background-color: rgba(50, 50, 100, 0.7);
}

.planet{
  font-weight: bold;
}

.fact{
  font-weight: bold;
}

